.main{
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
 
  

}

.button{
  border-radius: 8px;
  width: 80px;
  background-color: rgb(117, 194, 117);
  color: white;
}

.innermain{
  /* border: 1px solid gold; */
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
}

.input{
  /* border: 2px solid rgb(235, 12, 12); */
  margin: 10px;
  display: flex;
  gap: 20px;
  border-radius: 8px;
  
  font-size: 20px;
  border-color: lightsteelblue;

}